static/cannex/wsdl/antu_types-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cannex.com" xmlns:cnx="http://www.cannex.com"
	elementFormDefault="qualified">

	<xsd:complexType name="custom_type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="index" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:short">
							<xsd:minInclusive value="1" />
							<xsd:maxInclusive value="10" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!--
	"N" = Non-qualified
    "QI" = Traditional IRA
    "QT" = Qualified Teachers 403(b)
    "QN" = Other Qualified
    "RI" = Roth IRA 
	"IN" = Inherited Non-qualified
	"II" = Inherited IRA
	"IR" = Inherited Roth IRA
	 -->
	<xsd:simpleType name="fund_type_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="N|QI|QT|QN|RI|IN|II|IR" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	"OS" = The owner’s surviving spouse
	"OC" = The owner’s child who is less than 18 years of age
	"DI" = A disabled individual
	"CI" = A chronically ill individual
	"OI" = Any other individual who is not more than 10 years younger than the deceased IRA owner
	"N" = None of the above
	 -->
	<xsd:simpleType name="edb_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="N|OI|CI|DI|OC|OS" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	"M" = Male
    "F" = Female 
 	-->
	<xsd:simpleType name="gender_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[MF]|" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	"RG" = Certain Period
    "CR" = Cash Refund
    "IR" = Installment Refund 
	 -->
	<xsd:simpleType name="guarantee_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="RG|CR|IR|" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	"N" = None
    "AC" = COLA (annual compound)
    "CU" = CPI-U 
	 -->
	<xsd:simpleType name="index_type_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="N|AC|CU|" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	"N" = Non-reducing
    "F" = Reducing on first death
    "P" = Reducing on death of Primary
    "S" = Reducing on death of Secondary 
	 -->
	<xsd:simpleType name="joint_type_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[NFPS]|" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="money_10_2_type">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.00" />
			<xsd:maxInclusive value="99999999.99" />
			<xsd:fractionDigits value="2" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="month_0_11_type">
		<xsd:restriction base="xsd:short">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="11" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- 
    "1" = Average top 5 - XML
    "2" = Multi company - XML
    "3" = Multi company - XML - Web Services
	 -->
	<xsd:simpleType name="output_option_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[123]|" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- 
	"L" = Live
	"W" = Work
	"M" = Moment
	 -->
	<xsd:simpleType name="parameter_set_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[LWM]|" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	"M" = Monthly
    "Q" = Quarterly
    "SA" = Semi-Annually
    "A" = Annually 
	 -->
	<xsd:simpleType name="payment_frequency_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="A|SA|Q|M|" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- 
	Return of Premium before Income Start Date
  	"GT" = No
    "RP" = Yes
	 -->
	<xsd:simpleType name="return_of_premium_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="GT|RP|" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="rate_6_3_type">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.000" />
			<xsd:maxInclusive value="100.000" />
			<xsd:fractionDigits value="3" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="rate_5_3_type">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.000" />
			<xsd:maxInclusive value="99.999" />
			<xsd:fractionDigits value="3" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- 
	ratings_cd for ratings_company_cd "AMB" = A.M. Best
    ""  = All
    "A++" = A++ (Superior)
    "A+" = A+ (Superior)
    "A" = A (Excellent)
    "A-" = A- (Excellent)
    "B++" = B++ (Good)
    "B+" = B+ (Good)
    "B" = B (Fair)
    "B-" = B- (Fair)
    "C++" = C++ (Marginal)
    "C+" = C+ (Marginal)
    "C" = C (Weak)
    "C-" = C- (Weak)
    "D" = D (Poor)
    "E" = E (Under regulatory supervision)
    "F" = F (In liquidation)
    "S" = S (Rating suspended)
    "NR-1" = NR-1 (Insufficient data)
    "NR-2" = NR-2 (Insufficient size and/or operating exp.)
    "NR-3" = NR-3 (Rating procedure inapplicable)
    "NR-4" = NR-4 (Company request)
    "NR-5" = NR-5 (Not formally followed)

	ratings_cd for ratings_company_cd "FTCH" = Fitch
    ""  = All
    "AAA" = AAA (Exceptionally strong)
    "AA+" = AA+ (Very strong)
    "AA" = AA (Very strong)
    "AA-" = AA- (Very strong)
    "A+" = A+ (Strong)
    "A" = A (Strong)
    "A-" = A- (Strong)
    "BBB+" = BBB+ (Good)
    "BBB" = BBB (Good)
    "BBB-" = BBB- (Good)
    "BB+" = BB+ (Moderately weak)
    "BB" = BB (Moderately weak)
    "BB-" = BB- (Moderately weak)
    "B+" = B+ (Weak)
    "B" = B (Weak)
    "B-" = B- (Weak)
    "CCC" = CCC (Very weak)
    "CC" = CC (Extremely weak)
    "C" = C (Distressed)
    
	ratings_cd for ratings_company_cd "MOOD" = Moody's
    ""  = All
    "Aaa" = Aaa (Exceptional)
    "Aa1" = Aa1 (Excellent)
    "Aa2" = Aa2 (Excellent)
    "Aa3" = Aa3 (Excellent)
    "A1" = A1 (Good)
    "A2" = A2 (Good)
    "A3" = A3 (Good)
    "Baa1" = Baa1 (Adequate)
    "Baa2" = Baa2 (Adequate)
    "Baa3" = Baa3 (Adequate)
    "Ba1" = Ba1 (Questionable)
    "Ba2" = Ba2 (Questionable)
    "Ba3" = Ba3 (Questionable)
    "B1" = B1 (Poor)
    "B2" = B2 (Poor)
    "B3" = B3 (Poor)
    "Caa1" = Caa1 (Very poor)
    "Caa2" = Caa2 (Very poor)
    "Caa3" = Caa3 (Very poor)
    "Ca" = Ca (Extremely poor)
    "C" = C (Lowest-rated)

	ratings_cd for ratings_company_cd "SP" = Standard & Poor's
    ""  = All
    "AAA" = AAA (Extremely strong)
    "AA+" = AA+ (Very strong)
    "AA" = AA (Very strong)
    "AA-" = AA- (Very strong)
    "A+" = A+ (Strong)
    "A" = A (Strong)
    "A-" = A- (Strong)
    "BBB+" = BBB+ (Good)
    "BBB" = BBB (Good)
    "BBB-" = BBB- (Good)
    "BB+" = BB+ (Marginal)
    "BB" = BB (Marginal)
    "BB-" = BB- (Marginal)
    "B+" = B+ (Weak)
    "B" = B (Weak)
    "B-" = B- (Weak)
    "CCC+" = CCC+ (Very weak)
    "CCC" = CCC (Very weak)
    "CCC-" = CCC- (Very weak)
    "CC" = CC (Extremely weak)
    "R" = R (Regulatory supervision)
    "NR" = NR (Not rated)
	 -->
	<xsd:simpleType name="ratings_company_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="AMB|FTCH|MOOD|SP|" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	"AL" = Alabama
    "AK" = Alaska
    "AZ" = Arizona
    "AR" = Arkansas
    "CA" = California
    "CO" = Colorado
    "CT" = Connecticut
    "DE" = Delaware
    "DC" = District of Columbia
    "FL" = Florida
    "GA" = Georgia
    "GU" = Guam
    "HI" = Hawaii
    "ID" = Idaho
    "IL" = Illinois
    "IN" = Indiana
    "IA" = Iowa
    "KS" = Kansas
    "KY" = Kentucky
    "LA" = Louisiana
    "ME" = Maine
    "MD" = Maryland
    "MA" = Massachusetts
    "MI" = Michigan
    "MN" = Minnesota
    "MS" = Mississippi
    "MO" = Missouri
    "MT" = Montana
    "NE" = Nebraska
    "NV" = Nevada
    "NH" = New Hampshire
    "NJ" = New Jersey
    "NM" = New Mexico
    "NY" = New York
    "NC" = North Carolina
    "ND" = North Dakota
    "OH" = Ohio
    "OK" = Oklahoma
    "OR" = Oregon
    "PA" = Pennsylvania
    "PR" = Puerto Rico
    "RI" = Rhode Island
    "SC" = South Carolina
    "SD" = South Dakota
    "TN" = Tennessee
    "TX" = Texas
    "UT" = Utah
    "VT" = Vermont
    "VI" = Virgin Islands
    "VA" = Virginia
    "WA" = Washington
    "WV" = West Virginia
    "WI" = Wisconsin
    "WY" = Wyoming	 
 	-->
	<xsd:simpleType name="state_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="" />
			<xsd:enumeration value="AL" />
			<xsd:enumeration value="AK" />
			<xsd:enumeration value="AZ" />
			<xsd:enumeration value="AR" />
			<xsd:enumeration value="CA" />
			<xsd:enumeration value="CO" />
			<xsd:enumeration value="CT" />
			<xsd:enumeration value="DE" />
			<xsd:enumeration value="DC" />
			<xsd:enumeration value="FL" />
			<xsd:enumeration value="GA" />
			<xsd:enumeration value="HI" />
			<xsd:enumeration value="ID" />
			<xsd:enumeration value="IL" />
			<xsd:enumeration value="IN" />
			<xsd:enumeration value="IA" />
			<xsd:enumeration value="KS" />
			<xsd:enumeration value="KY" />
			<xsd:enumeration value="LA" />
			<xsd:enumeration value="ME" />
			<xsd:enumeration value="MD" />
			<xsd:enumeration value="MA" />
			<xsd:enumeration value="MI" />
			<xsd:enumeration value="MN" />
			<xsd:enumeration value="MS" />
			<xsd:enumeration value="MO" />
			<xsd:enumeration value="MT" />
			<xsd:enumeration value="NE" />
			<xsd:enumeration value="NV" />
			<xsd:enumeration value="NH" />
			<xsd:enumeration value="NJ" />
			<xsd:enumeration value="NM" />
			<xsd:enumeration value="NY" />
			<xsd:enumeration value="NC" />
			<xsd:enumeration value="ND" />
			<xsd:enumeration value="OH" />
			<xsd:enumeration value="OK" />
			<xsd:enumeration value="OR" />
			<xsd:enumeration value="PA" />
			<xsd:enumeration value="RI" />
			<xsd:enumeration value="SC" />
			<xsd:enumeration value="SD" />
			<xsd:enumeration value="TN" />
			<xsd:enumeration value="TX" />
			<xsd:enumeration value="UT" />
			<xsd:enumeration value="VT" />
			<xsd:enumeration value="VA" />
			<xsd:enumeration value="WA" />
			<xsd:enumeration value="WV" />
			<xsd:enumeration value="WI" />
			<xsd:enumeration value="WY" />
			<xsd:enumeration value="AA" />
			<xsd:enumeration value="AE" />
			<xsd:enumeration value="AP" />
			<xsd:enumeration value="AS" />
			<xsd:enumeration value="FM" />
			<xsd:enumeration value="GU" />
			<xsd:enumeration value="PR" />
			<xsd:enumeration value="MH" />
			<xsd:enumeration value="MP" />
			<xsd:enumeration value="VI" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	"SL" = Single Life
    "JL" = Joint Life
    "CO" = Certain Only  
	-->
	<xsd:simpleType name="survey_type_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="JL|SL|CO|" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	"0" = Suppress reasons for not quoting
    "1" = Show reasons for not quoting
    "2" - "9" = for Cannex use 
 	-->
	<xsd:simpleType name="trace_level_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0123456789]|" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="unique_d_type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="index" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:short">
							<xsd:minInclusive value="1" />
							<xsd:maxInclusive value="20" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="year_0_99_type">
		<xsd:restriction base="xsd:short">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="99" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="yn_type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[YN]|" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>