soap-test-income/data/xsd/anty/anty_ds_common_types-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cannex.com/anty_ds" xmlns:cnx="http://www.cannex.com/anty_ds"
	elementFormDefault="qualified">

	<xsd:include schemaLocation="anty_ds_base_types-1.1.xsd" />

 	<xsd:complexType name="age_list_instance_type">
		<xsd:sequence>
			<xsd:element type="cnx:period_instance_type" name="age" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>
 
	<xsd:complexType name="age_range_list_instance_type">
		<xsd:sequence>
			<xsd:element type="cnx:period_range_instance_type" name="age_range" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>
 
 	<xsd:complexType name="cd_name_instance_list_instance_text_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_instance_type" name="cd_name" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="cd_name_instance_type">
	   <xsd:simpleContent>
	      <xsd:extension base="cnx:cd_name_type">
	        <xsd:attribute type="xsd:string" name="instance_id" use="optional" />
			<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="cd_name_list_instance_text_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_type" name="cd_name" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="cd_name_list_text_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_type" name="cd_name" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="cd_name_text_list_instance_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_text_type" name="cd_name" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="cd_name_text_type">
	   <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
	      	<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	        <xsd:attribute type="xsd:string" name="cd" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="cdsc_list_instance_text_type">
   		<xsd:sequence>
			<xsd:element type="cnx:cdsc_type" name="cdsc" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
        <xsd:attribute type="xsd:string" name="instance_id" use="optional" />
        <xsd:attribute type="xsd:string" name="rule_id" use="optional" />		
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>
	
 	<xsd:complexType name="cdsc_type">
	   <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
	        <xsd:attribute type="xsd:double" name="rate" use="required" />
	      	<xsd:attribute type="xsd:int" name="years" use="required" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="fees_instance_text_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_type" name="interest_type"
				minOccurs="0" />
			<xsd:element type="cnx:period_type" name="period"
				minOccurs="0" />
			<xsd:element type="cnx:tier_rate_frequency_type" name="tier_rate_frequency"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />		
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>

 	<xsd:complexType name="joint_rule_type">
		<xsd:sequence>
			<xsd:element type="cnx:period_type" name="max_age_difference" 
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_type" name="min_age_basis" 
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_type" name="max_age_basis" 
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- 
   	"E" - Exclude
   	"I" - Include
   	-->
   	<xsd:simpleType name="list_cd_type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E" />
			<xsd:enumeration value="I" />
		</xsd:restriction>
	</xsd:simpleType>		

  	 <xsd:complexType name="name_instance_list_instance_text_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_instance_type" name="name" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>

  	<xsd:complexType name="name_text_type">
	   <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
	      	<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="percentage_range_list_instance_type">
   		<xsd:sequence>
			<xsd:element type="cnx:double_range_type" name="percentage_range" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
        <xsd:attribute type="xsd:string" name="instance_id" use="optional" />
        <xsd:attribute type="xsd:string" name="rule_id" use="optional" />		
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="period_instance_type">
	   <xsd:simpleContent>
	      <xsd:extension base="cnx:period_type">
	        <xsd:attribute type="xsd:string" name="instance_id" use="optional" />
			<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="period_range_list_instance_type">
		<xsd:sequence>
			<xsd:element type="cnx:period_range_instance_type" name="period_range" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>
 
	<xsd:complexType name="period_range_instance_list_type">
		<xsd:sequence>
			<xsd:element type="cnx:period_range_instance_type" name="period_range_instance" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
 
	<xsd:complexType name="period_range_instance_type">
	   <xsd:simpleContent>
	      <xsd:extension base="cnx:period_range_type">
	        <xsd:attribute type="xsd:string" name="instance_id" use="optional" />
			<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

 	<xsd:complexType name="period_range_list_type">
		<xsd:sequence>
			<xsd:element type="cnx:period_range_type" name="period_range" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="period_range_type">
	   <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
	      	<xsd:attribute type="xsd:int" name="min_months" use="optional" />
	      	<xsd:attribute type="xsd:int" name="min_years" use="optional" />
	        <xsd:attribute type="xsd:int" name="max_months" use="optional" />
	        <xsd:attribute type="xsd:int" name="max_years" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="premium_instance_type">
		<xsd:sequence>
			<xsd:element type="cnx:value_instance_type" name="premium"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>

 	<xsd:complexType name="rate_cd_name_type">
	   <xsd:simpleContent>
	      <xsd:extension base="cnx:cd_name_type">
	      	<xsd:attribute type="xsd:double" name="rate" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

  	<xsd:complexType name="state_cd_name_list_type">
		<xsd:sequence>
			<xsd:element type="cnx:state_cd_name_type" name="state_cd_name" 
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="cnx:list_cd_type" name="list_cd" use="required" />
	</xsd:complexType>
   
	<xsd:complexType name="state_cd_name_type">
	     <xsd:simpleContent>
	        <xsd:extension base="xsd:string">
	           <xsd:attribute type="cnx:state_cd_type" name="state_cd" use="required" />
	        </xsd:extension>
	     </xsd:simpleContent>
	</xsd:complexType>
 
	<xsd:complexType name="text_id_type">
	   <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
	      	<xsd:attribute type="xsd:string" name="text_id" use="required" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="tier_rate_frequency_list_instance_text_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_type" name="frequency_inheritance"
				minOccurs="0" />
			<xsd:element type="cnx:period_type" name="period"
				minOccurs="0" />
			<xsd:element type="cnx:tier_rate_frequency_type" name="tier_rate_frequency"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>
	
 	<xsd:complexType name="tier_range_rate_frequency_type">
		<xsd:sequence>
			<xsd:element type="cnx:double_range_type" name="range" />
			<xsd:element type="xsd:double" name="rate" />
			<xsd:element type="cnx:cd_name_type" name="calculation_frequency" />
			<xsd:element type="cnx:cd_name_type" name="crediting_frequency"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute type="xsd:int" name="tier_no" use="optional" />
	</xsd:complexType>

 	<xsd:complexType name="tier_rate_frequency_type">
		<xsd:sequence>
			<xsd:element type="xsd:double" name="rate"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_type" name="calculation_frequency"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_type" name="crediting_frequency"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute type="xsd:int" name="tier_no" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="tier_rate_list_instance_text_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_type" name="frequency_inheritance"
				minOccurs="0" />
			<xsd:element type="cnx:period_type" name="period"
				minOccurs="0" />
			<xsd:element type="cnx:tier_rate_type" name="tier_rate"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>
 
	<xsd:complexType name="tier_rate_list_type">
		<xsd:sequence>
			<xsd:element type="cnx:tier_rate_type" name="tier_rate"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
 
	<xsd:complexType name="tier_rate_cd_name_list_type">
		<xsd:sequence>
			<xsd:element type="cnx:tier_rate_cd_name_type" name="tier_rate_cd_name"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
 
 	<xsd:complexType name="tier_rate_cd_name_type">
	   <xsd:simpleContent>
	      <xsd:extension base="cnx:cd_name_type">
	      	<xsd:attribute type="xsd:double" name="rate" use="optional" />
	      	<xsd:attribute type="xsd:int" name="tier_no" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="tier_rate_type">
	   <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
	      	<xsd:attribute type="xsd:double" name="rate" use="optional" />
	      	<xsd:attribute type="xsd:int" name="tier_no" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="tier_rate_vesting_instance_text_type">
		<xsd:sequence>
			<xsd:element type="cnx:tier_rate_vesting_type" name="tier_rate_vesting"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>
	
 	<xsd:complexType name="tier_rate_vesting_type">
		<xsd:sequence>
			<xsd:element type="xsd:double" name="rate" />
			<xsd:element type="cnx:vesting_type" name="vesting"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:int" name="tier_no" use="optional" />
	</xsd:complexType>
	
	<xsd:complexType name="value_instance_type">
	   <xsd:simpleContent>
	      <xsd:extension base="xsd:double">
	        <xsd:attribute type="xsd:string" name="instance_id" use="optional" />
			<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="vesting_type">
		<xsd:simpleContent>
	      <xsd:extension base="xsd:string">
	      	<xsd:attribute type="xsd:double" name="rate" use="optional" />
	      	<xsd:attribute type="xsd:int" name="year" use="optional" />
	      </xsd:extension>
	   </xsd:simpleContent>
	</xsd:complexType>	
    
 </xsd:schema>