platform/storage/app/public/wsdl/quoting/canx_anty_inc1-1.0.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:cnx="http://www.cannex.com"
				  xmlns:cws="http://www.cannex.com/ws"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  name="canx_anty_inc1" 
				  targetNamespace="http://www.cannex.com/ws">
  
  <wsdl:documentation>
  	This file and any supporting xsd schemas are located at "https://www.cannex.com/app/CANX/wsdl"
  </wsdl:documentation>
  
  <wsdl:types>
	<xsd:schema targetNamespace="http://www.cannex.com/ws">
	  <xsd:import schemaLocation="anty_inc_req1_type-1.0.xsd" namespace="http://www.cannex.com" />
      <xsd:element type="cnx:anty_inc_req1_kind_type" name="anty_income_request1" />
    </xsd:schema>  
	<xsd:schema targetNamespace="http://www.cannex.com/ws">
      <xsd:import schemaLocation="anty_inc_resp1_type-1.0.xsd" namespace="http://www.cannex.com" />
      <xsd:element type="cnx:anty_inc_resp1_kind_type" name="anty_income_response1" />
    </xsd:schema>  
  </wsdl:types>
  
  <wsdl:message name="canx_anty_inc_request1">
    <wsdl:part element="cws:anty_income_request1" name="parameters" />
  </wsdl:message>
  <wsdl:message name="canx_anty_inc_response1">
    <wsdl:part element="cws:anty_income_response1" name="parameters" />
  </wsdl:message>
  
  <wsdl:portType name="canx_anty_inc1_porttype">
    <wsdl:operation name="canx_anty_inc1_operation">
      <wsdl:input message="cws:canx_anty_inc_request1" />
      <wsdl:output message="cws:canx_anty_inc_response1" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="canx_anty_inc1_binding" type="cws:canx_anty_inc1_porttype">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="canx_anty_inc1_operation">
      <soap:operation soapAction="http://www.cannex.com/ws/canx_anty_inc1_operation" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="canx_anty_inc1_service">
    <wsdl:port binding="cws:canx_anty_inc1_binding" name="canx_anty_inc1_binding">
      <soap:address location="https://www.cannex.com/app/CANX/AntyInc1Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
