platform/storage/app/public/import/anty_ds_prd_prfl_type-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cannex.com/anty_ds" xmlns:cnx="http://www.cannex.com/anty_ds"
	elementFormDefault="qualified">

	<xsd:include schemaLocation="anty_ds_common_types-1.1.xsd" />

	<xsd:complexType name="anty_ds_prd_prfl_type">
		<xsd:sequence>
			<xsd:element type="cnx:info_list_type" name="canx_info" 
				minOccurs="0" />			
			<xsd:element type="cnx:cd_name_type" name="product_type" />
			<xsd:element type="cnx:prd_prfl_type" name="product_profile"
				minOccurs="1" maxOccurs="unbounded" />
			<xsd:element type="cnx:info_list_type" name="custom_info"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="version" fixed="1.1" />
	</xsd:complexType>

	<xsd:complexType name="prd_prfl_type">
		<xsd:sequence>
			<xsd:element type="cnx:info_list_type" name="canx_info" 
				minOccurs="0" />
			<xsd:element type="xsd:string" name="product_id"
				minOccurs="0" />
			<xsd:element type="cnx:state_cd_name_list_type" name="state_availability" 
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_list_text_type" name="ownership_type_list"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_list_text_type" name="annuitant_type_list"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_instance_list_instance_text_type" name="fund_type_instance"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_instance_list_instance_text_type" name="rop_instance"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_instance_list_instance_text_type" name="mva_instance"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_list_instance_text_type" name="share_class_instance"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_type" name="surrender_period_basis"
				minOccurs="0" />
			<xsd:element type="cnx:text_id_type" name="cdsc_schedule"
				minOccurs="0" />
			<xsd:element type="cnx:cdsc_list_instance_text_type" name="cdsc_schedule_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="surrender_charge_waivers"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_text_list_instance_type" name="surrender_charge_waivers_instance"
				minOccurs="0" />
			<xsd:element type="cnx:text_id_type" name="free_withdrawals"
				minOccurs="0" />
			<xsd:element type="cnx:tier_rate_list_instance_text_type" name="free_withdrawals_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:cd_name_text_type" name="minimum_withdrawals_rule_applicable"
				minOccurs="0" />		
			<xsd:element type="cnx:cd_name_text_type" name="systematic_withdrawals_available"
				minOccurs="0" />		
			<xsd:element type="cnx:cd_name_text_type" name="bail_out"
				minOccurs="0" />		
			<xsd:element type="cnx:cd_name_text_type" name="free_look_period"
				minOccurs="0" />		
			<xsd:element type="cnx:cd_name_text_type" name="fees_commissions"
				minOccurs="0" />		
			<xsd:element type="cnx:cd_name_text_type" name="contract_continuation"
				minOccurs="0" />		
			<xsd:element type="cnx:cd_name_type" name="age_rule_basis"
				minOccurs="0" />		
			<xsd:element type="cnx:text_id_type" name="issue_age"
				minOccurs="0" />
			<xsd:element type="cnx:age_range_list_instance_type" name="issue_age_owner_instance"
				minOccurs="0" />
			<xsd:element type="cnx:age_range_list_instance_type" name="issue_age_annuitant_instance"
				minOccurs="0" />
			<xsd:element type="cnx:cd_name_type" name="issue_age_joint_availability"
				minOccurs="0" />		
			<xsd:element type="cnx:joint_rule_type" name="issue_age_joint_owner_rules"
				minOccurs="0" />		
			<xsd:element type="cnx:joint_rule_type" name="issue_age_joint_annuitant_rules"
				minOccurs="0" />
			<xsd:element type="cnx:text_id_type" name="premium"
				minOccurs="0" />
			<xsd:element type="cnx:premium_instance_type" name="initial_premium_instance"
				minOccurs="0" />
			<xsd:element type="cnx:premium_instance_type" name="max_premium_instance"
				minOccurs="0" />
			<xsd:element type="cnx:premium_instance_type" name="flexible_premium_instance"
				minOccurs="0" />
			<xsd:element type="cnx:text_id_type" name="max_annuitization_age"
				minOccurs="0" />
			<xsd:element type="cnx:age_list_instance_type" name="max_annuitization_age_instance"
				minOccurs="0" />
			<xsd:element type="cnx:text_id_type" name="annuitization_options"
				minOccurs="0" />
			<xsd:element type="cnx:annuity_type_instance_type" name="annuity_type_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="guaranteed_min_value"
				minOccurs="0" />
			<xsd:element type="cnx:tier_rate_list_instance_text_type" name="standard_gmv_initial_rate_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:tier_rate_list_instance_text_type" name="standard_gmv_increase_rate_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:tier_rate_list_instance_text_type" name="enhanced_gmv_initial_rate_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:tier_rate_list_instance_text_type" name="enhanced_gmv_increase_rate_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="m_e_fees"
				minOccurs="0" />
			<xsd:element type="cnx:fees_instance_text_type" name="current_m_e_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="min_m_e_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="max_m_e_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="admin_fees"
				minOccurs="0" />
			<xsd:element type="cnx:fees_instance_text_type" name="current_admin_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="min_admin_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="max_admin_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="fund_facilitation_fees"
				minOccurs="0" />
			<xsd:element type="cnx:fees_instance_text_type" name="current_fund_facilitation_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="min_fund_facilitation_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="max_fund_facilitation_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="premium_based_fees"
				minOccurs="0" />
			<xsd:element type="cnx:fees_instance_text_type" name="current_premium_based_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="other_fees"
				minOccurs="0" />
			<xsd:element type="cnx:fees_instance_text_type" name="current_other_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="min_other_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="max_other_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="premium_bonus"
				minOccurs="0" />
			<xsd:element type="cnx:tier_rate_vesting_instance_text_type" name="premium_bonus_instance" 
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="interest_bonus"
				minOccurs="0" />
			<xsd:element type="cnx:tier_rate_list_instance_text_type" name="interest_bonus_instance" 
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="interest_multiplier"
				minOccurs="0" />
			<xsd:element type="cnx:tier_rate_list_instance_text_type" name="interest_multiplier_instance" 
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="persistency_credit"
				minOccurs="0" />
			<xsd:element type="cnx:tier_rate_list_instance_text_type" name="persistency_credit_instance" 
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:text_id_type" name="other_riders_benefits"
				minOccurs="0" />
			<xsd:element type="cnx:other_riders_benefits_instance_text_type" name="other_riders_benefits_instance" 
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:info_list_type" name="custom_info"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="product_profile_id" use="required" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
	</xsd:complexType>

 	<xsd:complexType name="annuity_type_instance_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_type" name="annuity_type" />
			<xsd:element type="cnx:cd_name_type" name="guarantee_type" />
			<xsd:element type="cnx:period_range_list_instance_type" name="guarantee_period_instance"
				minOccurs="0" />
			<xsd:element type="cnx:percentage_range_list_instance_type" name="joint_continuation_instance"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
	</xsd:complexType>
	
 	<xsd:complexType name="other_riders_benefits_instance_text_type">
		<xsd:sequence>
			<xsd:element type="cnx:cd_name_type" name="other_riders_benefits_type" />
			<xsd:element type="cnx:name_text_type" name="name" />
			<xsd:element type="cnx:fees_instance_text_type" name="current_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="min_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element type="cnx:fees_instance_text_type" name="max_fees_instance"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute type="xsd:string" name="instance_id" use="optional" />
		<xsd:attribute type="xsd:string" name="rule_id" use="optional" />
		<xsd:attribute type="xsd:string" name="text_id" use="optional" />
	</xsd:complexType>

</xsd:schema>